<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util.xsd">

    <bean name="jsonFile" class="java.io.File">
        <constructor-arg value="data.json"/>
    </bean>

    <bean name="objectMapper" class="com.rackian.todo.util.PrettyObjectMapper"/>

    <bean name="typeReferenceListNote" class="com.rackian.todo.util.TypeReferenceListNote"/>

    <bean name="jsonNoteRepository" class="com.rackian.todo.repository.JsonNoteRepository">
        <constructor-arg ref="jsonFile"/>
        <constructor-arg ref="objectMapper"/>
        <constructor-arg ref="typeReferenceListNote"/>
    </bean>

    <bean name="noteRepository" class="com.rackian.todo.repository.CollectionNoteRepository">
        <constructor-arg>
            <util:list list-class="java.util.ArrayList" value-type="com.rackian.todo.model.Note"/>
        </constructor-arg>
    </bean>

    <bean name="noteService" class="com.rackian.todo.service.NoteServiceImpl">
        <constructor-arg index="0" ref="jsonNoteRepository"/>
    </bean>

    <bean name="menuView" class="com.rackian.todo.view.MenuView">
        <constructor-arg value="#{T(java.lang.System).out}"/>
        <constructor-arg value="#{T(java.lang.System).in}"/>
    </bean>

    <bean name="menuCommands" class="com.rackian.todo.command.MenuCommands">
        <constructor-arg>
            <util:map map-class="java.util.HashMap"/>
        </constructor-arg>
        <constructor-arg ref="noteService"/>
        <constructor-arg ref="menuView"/>
    </bean>

    <bean name="menuController" class="com.rackian.todo.controller.MenuController">
        <constructor-arg ref="menuView"/>
        <constructor-arg ref="menuCommands"/>
    </bean>

</beans>
