<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util.xsd">

    <bean name="noteRepository" class="com.rackian.todo.repository.CollectionNoteRepository">
        <constructor-arg index="0">
            <util:list list-class="java.util.ArrayList" value-type="com.rackian.todo.model.Note"/>
        </constructor-arg>
    </bean>

    <bean name="noteService" class="com.rackian.todo.service.NoteServiceImpl"/>

</beans>
